    {% extends 'IT_Dashboard/dashboard_base.html' %}
{% block title %}ProWide | HOME {% endblock %}

{% block body %}
{% load staticfiles %}

    <div class="row animated fadeInRight">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Group Workflow and ECONS use of <strong>{{profile.department}}</strong> department
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            {{profile.groupflow|safe}}
                        </div>
                    </div>
                </div>

            </div>


    {% endblock%}