{% extends 'buyer/base.html' %}

{% block title %}Supplier Profile{% endblock %}

{% block body %}
{% load staticfiles %}
<style>
img#bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

</style>
<img src="{% static 'IT_Dashboard/img/tpac_1.jpg' %}" id="bg" alt="" style="width:100%; margin-top:-28px;"> 
<div style="margin-top:80px"></div>
 <div class="container-fluid center-block" >
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
        <h1 style="text-align:center">Welcome {{user.username}} </h1>
        <h3 style="text-align:center">You are about to delete a category</h3>
          {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          <div style="margin-top:40px"></div>
          <form action='' method="post" style="display: inline;">
              {% csrf_token %}
              <p>Are you sure you want to delete "{{ object }}"?</p>
              <button type="submit" class="btn btn-default btn-sm" value="confirm">
                  <span class="glyphicon glyphicon-trash">&nbsp;Delete</span>
              </button>
          </form>
          <button type="button" class="btn btn-default btn-sm" value="cancle" onclick="window.location.href='/seller/';">
                  <span class="glyphicon glyphicon-repeat">&nbsp;Cancle</span>
          </button>
        </div>
      </div>
    </div>
  </div>
 </div> 

{% endblock %}
